{% extends 'base.html.twig' %}

{% block title %}mon panier
{% endblock %}

{% block content %}


	<h1 class="mt-3">Mon panier</h1>

{% if cart | length > 0 %}

	<p>Tous les produits ajoutés à votre panier</p>
	<hR>
	<div class="text-end"><a href="{{path('remove_cart')}}" class="btn btn-danger">
							<i class="fas fa-dumpster-fire"></i> Vider le panier
						</a></div>

	<table class="table">
		<thead>
			<tr>
				<th scope="col">Produit</th>
				<th scope="col">Nom</th>
				<th scope="col">Quantité</th>
				<th scope="col">Prix</th>
				<th scope="col">Total</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>

			{% set total =null %}
			{% for product in cart %}
				{% set total= total + product.quantity *product.product.price  %}
				<tr>
					<th scope="row"><img src="/uploads/{{product.product.illustration}}" alt="{{product.product.name}}" style="height: 100px;"></th>
					<td>{{product.product.name}}</td>
					<td>
						<a href="{{path('decrease_to_cart',{'id':product.product.id})}}" class="btn btn-primary">
							<i class="fas fa-minus"></i>
						</a>
						{{product.quantity}}
						<a href="{{path('add_to_cart',{'id':product.product.id})}}" class="btn btn-primary">
							<i class="fas fa-plus"></i>
						</a>
					</td>
					<td>{{(product.product.price/100 | number_format(2))}}
						€</td>
					<td>{{(product.quantity *product.product.price/100) | number_format(2) }}
						€
					</td>
					<td>
						<a href="{{path('delete_to_cart',{'id':product.product.id})}}" class="btn btn-danger">
							<i class="fas fa-trash"></i>
						</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<div class="text-end">
		<b>Nombre de produits:
			{{cart | length}}</b><br>
		<b>Total de mon panier:
			{{(total/100) | number_format(2)}}
			€</b>

	</div>


	<a href="{{path('order')}}" class="btn btn-success col-12 mt-3">Valider la panier</a>		

{% else %}
<h2 class="text-center"><span class="badge bg-secondary">Votre panier est vide</span></h2>

{% endif %}



{% endblock %}
