{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}

{% block content %}

<h1 class="mt-3">Inscription</h1>



{{ form_start(form) }}

{{form_row(form.firstName)}}

{{form_row(form.lastName)}}

{{form_row(form.email,{'label':false,'attr':{'placeholder':'Entrer votre email'}})}}

{{form_row(form.password,{'label':false,'attr':{'placeholder':'Entrer votre mot de passe'}})}}


{{ form_end(form) }}

{% endblock %}
